*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/Backend/.vs
/Backend/Backend/audios
/Backend/Backend/bin/Debug/net8.0
/Backend/Backend/.vs
/Backend/Backend/obj
/FrontEnd/.idea
